/* 
██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗     ███████╗███████╗
██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
██║   ██║███████║██████╔╝██║███████║██████╔╝██║     █████╗  ███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║     ██╔══╝  ╚════██║
 ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝███████╗███████╗███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝ */

:root {
  --text-font-family: "Poetsen One", "Arial", "sans-serif";
  --title-font-family: "Oleo Script", "Arial", "sans-serif";
  --button-hover-color: rgb(33, 169, 255);
  --main-background-color: rgba(114, 181, 197, 0.5);
  --card-background-color: rgb(249, 165, 199, 0.5);
  --card-background-color2: rgb(217, 221, 194);
  --buttons-background-color: rgb(19, 19, 19);
  --front-card-background-color: rgb(19, 19, 19);
  --front-card-background-color2: rgb(2, 2, 2);
  --div-box-shadow-color: rgba(0, 0, 0, 1);
  --nota-baja-color: rgb(203, 42, 73);
  --nota-media-color: rgb(248, 228, 75);
  --nota-alta-color: rgb(59, 142, 237);
}

/* 
 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗
██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║
██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║
██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║
╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗
 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝ */

html {
  width: 100vw;
  height: 100vh;
}

/* 
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝ */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1#title {
  width: 100%;
  font-size: 3rem;
  font-family: var(--title-font-family);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 2);
  margin-bottom: 2rem;
  margin-top: 2rem;
  animation: anim 5s infinite;
  min-width: 330px;
}

form.inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input[type="text"]#user {
  font-family: var(--text-font-family);
  font-style: italic;
  font-weight: bolder;
  color: var(--buttons-background-color);
  background-color: rgba(114, 181, 197, 0.5);
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
  box-shadow: 17px 10px 24px -1px var(--div-box-shadow-color);
  height: 40px;
  width: 200px;
  outline: none;
  text-align: center;
  animation: anim2 5s infinite;
}

button#startGame {
  font-family: var(--text-font-family);
  font-weight: bolder;
  margin-top: 1rem;
  background-color: rgba(114, 181, 197, 0.5);
  color: var(--buttons-background-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 17px 10px 24px -1px var(--div-box-shadow-color);
  transition: background-color 0.3s, transform 0.3s;
}

button#startGame {
  animation: anim2 5s infinite;
}

button#startGame:hover,
button[type="reset"]:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-2px);
}

/*
██████╗  ██████╗ ██████╗ ██╗   ██╗
██╔══██╗██╔═══██╗██╔══██╗╚██╗ ██╔╝
██████╔╝██║   ██║██║  ██║ ╚████╔╝ 
██╔══██╗██║   ██║██║  ██║  ╚██╔╝
██████╔╝╚██████╔╝██████╔╝   ██║
╚═════╝  ╚═════╝ ╚═════╝    ╚═╝    */

body {
  font-family: var(--text-font-family);
  background-color: var(--div-background-color);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  place-items: center;
  background-image: url("../images/fondo\ de\ alienigenas.jpg");
  background-size: cover;
  background-position: center;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  flex-wrap: nowrap;
  overflow-y: hidden;
}
.tituloRanking {
  font-family: var(--title-font-family);
  font-size: 2rem;
  text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
  color: var(--div-background-color);
  order: 3;
}

/* 
███╗   ███╗ █████╗ ██╗███╗   ██╗
████╗ ████║██╔══██╗██║████╗  ██║
██╔████╔██║███████║██║██╔██╗ ██║
██║╚██╔╝██║██╔══██║██║██║╚██╗██║
██║ ╚═╝ ██║██║  ██║██║██║ ╚████║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝ */

main {
  background-color: var(--main-background-color);
  box-shadow: 5px 8px 12px 4px rgba(0, 0, 0, 0.8);
  position: relative;
  min-height: 270px;
  max-height: 400px;
  min-width: 200px;
  max-width: 280px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
  gap: 0.5rem;
  border-radius: 1rem;
  order: 1;
}

.container {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
}

article ul {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

li {
  width: 100%;
  height: 100%;
  box-shadow: 17px 10px 24px -1px rgba(0, 0, 0, 2);
}

.card {
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 600px;
}

.card.flipped {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.back {
  border-radius: 0.5rem;
  background: linear-gradient(
    var(--card-background-color),
    var(--card-background-color2)
  );
  transform: rotateY(180deg);
}

.front {
  border-radius: 0.5rem;
  background: linear-gradient(
    var(--front-card-background-color),
    var(--front-card-background-color2)
  );
}

.front img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.3rem;
}

/* 
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝ */

footer {
  width: 100%;
}

p#copyright {
  font-family: var(--text-font-family);
  text-align: center;
  color: var(--buttons-background-color);
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
}

/* 
 ██████╗██╗      █████╗ ███████╗███████╗███████╗
██╔════╝██║     ██╔══██╗██╔════╝██╔════╝██╔════╝
██║     ██║     ███████║███████╗█████╗  ███████╗
██║     ██║     ██╔══██║╚════██║██╔══╝  ╚════██║
╚██████╗███████╗██║  ██║███████║███████╗███████║
 ╚═════╝╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝
 ██████╗ ██████╗ ███╗   ███╗██████╗  █████╗ ██████╗ ████████╗██╗██████╗  █████╗ ███████╗
██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██║██╔══██╗██╔══██╗██╔════╝
██║     ██║   ██║██╔████╔██║██████╔╝███████║██████╔╝   ██║   ██║██║  ██║███████║███████╗
██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██╔══██║██╔══██╗   ██║   ██║██║  ██║██╔══██║╚════██║
╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ██║  ██║██║  ██║   ██║   ██║██████╔╝██║  ██║███████║
 ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝╚═════╝ ╚═╝  ╚═╝╚══════╝ */

.hidden {
  display: none;
}

.parteOculta {
  visibility: hidden;
}

.parteVisible {
  visibility: visible;
}

.matched {
  animation: matched 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.nota-baja {
  color: var(--nota-baja-color);
}

.nota-media {
  color: var(--nota-media-color);
}

.nota-alta {
  color: var(--nota-alta-color);
}

/* 
██████╗ ██╗██╗   ██╗███████╗
██╔══██╗██║██║   ██║██╔════╝
██║  ██║██║██║   ██║███████╗
██║  ██║██║╚██╗ ██╔╝╚════██║
██████╔╝██║ ╚████╔╝ ███████║
╚═════╝ ╚═╝  ╚═══╝  ╚══════╝ */

#divIntentos {
  position: absolute;
  top: 2%;
  right: 0%;
  font-family: var(--text-font-family);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 0.8rem;
  white-space: nowrap;
  color: var(--buttons-background-color);
}

#divUser {
  position: absolute;
  top: 2%;
  left: 0%;
  font-family: var(--text-font-family);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 0.6rem;
  white-space: nowrap;
  color: var(--buttons-background-color);
}

#divTextContador {
  position: absolute;
  top: 8%;
  left: 0%;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 0.8rem;
  white-space: nowrap;
  font-family: "Poetsen One";
  font-weight: bolder;
  color: var(--buttons-background-color);
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

#divFallos {
  position: absolute;
  top: 8%;
  right: 0%;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  border-radius: 20px;
  font-size: 0.8rem;
  white-space: nowrap;
  font-family: "Poetsen One";
  font-weight: bolder;
  color: var(--buttons-background-color);
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

#divResultadoJuego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  height: 20%;
  width: 90%;
  height: 35%;
  min-width: 310px;
  background-color: var(--main-background-color);
  box-shadow: 0px 10px 13px 4px rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}

#gracias {
  margin-bottom: 1rem;
}

#h3Resultado {
  margin-bottom: 1rem;
}

#h3NotaFinal {
  margin-bottom: 4rem;
}

#divRanking {
  min-width: 200px;
  max-width: 280px;
  border-radius: 1rem;
  box-shadow: 5px 8px 12px 4px rgba(0, 0, 0, 0.8);
  background-color: var(--main-background-color);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  order: 3;
  width: 100vw;
}

.divPulsado {
  min-width: 320px;
  border-radius: 1rem;
  box-shadow: 5px 8px 12px 4px rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 0rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  order: 3;
}

.pRanking {
  font-size: 0.8rem;
}

/* 
██████╗  ██████╗ ████████╗ ██████╗ ███╗   ██╗███████╗███████╗
██╔══██╗██╔═══██╗╚══██╔══╝██╔═══██╗████╗  ██║██╔════╝██╔════╝
██████╔╝██║   ██║   ██║   ██║   ██║██╔██╗ ██║█████╗  ███████╗
██╔══██╗██║   ██║   ██║   ██║   ██║██║╚██╗██║██╔══╝  ╚════██║
██████╔╝╚██████╔╝   ██║   ╚██████╔╝██║ ╚████║███████╗███████║
╚═════╝  ╚═════╝    ╚═╝    ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚══════╝ */

#resetBtn {
  position: absolute;
  bottom: 2%;
  right: 4.5%;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: var(--text-font-family);
  font-weight: bolder;
  color: var(--buttons-background-color);
  text-shadow: 17px 10px 24px -1px var(--div-box-shadow-color);
  border: none;
  cursor: pointer;
}

#exitBtn {
  position: absolute;
  bottom: 2%;
  left: 5.5%;
  font-size: 0.8rem;
  background-color: transparent;
  font-family: var(--text-font-family);
  font-weight: bolder;
  color: var(--buttons-background-color);
  text-shadow: 17px 10px 24px -1px var(--div-box-shadow-color);
  border: none;
  cursor: pointer;
}

.btnRanking {
  font-family: var(--text-font-family);
  color: var(--buttons-background-color);
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.btnRankingPulsado {
  font-family: var(--text-font-family);
  color: var(--div-background-color);
  background-color: transparent;
  color: var(--buttons-background-color);
  border: none;
  font-size: 0.8rem;
  border-radius: 20px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

#btnGameAgain {
  position: absolute;
  max-width: 50%;
  bottom: 10%;
  left: 5%;
  font-family: var(--text-font-family);
  font-weight: bolder;
  margin-top: 1rem;
  background-color: var(--buttons-background-color);
  color: var(--div-background-color);
  border: none;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 17px 10px 24px -1px var(--div-box-shadow-color);
  transition: background-color 0.3s, transform 0.3s;
}

#btnExitGame {
  position: absolute;
  max-width: 50%;
  bottom: 10%;
  right: 5%;
  font-family: var(--text-font-family);
  font-weight: bolder;
  margin-top: 1rem;
  background-color: var(--buttons-background-color);
  color: var(--div-background-color);
  border: none;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 17px 10px 24px -1px var(--div-box-shadow-color);
  transition: background-color 0.3s, transform 0.3s;
}

#btnGameAgain:hover,
#btnExitGame:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-2px);
}

/* 
 █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗  ██████╗██╗ ██████╗ ███╗   ██╗███████╗███████╗
██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗██╔════╝██║██╔═══██╗████╗  ██║██╔════╝██╔════╝
███████║██╔██╗ ██║██║██╔████╔██║███████║██║     ██║██║   ██║██╔██╗ ██║█████╗  ███████╗
██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║██║     ██║██║   ██║██║╚██╗██║██╔══╝  ╚════██║
██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║╚██████╗██║╚██████╔╝██║ ╚████║███████╗███████║
╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚══════╝ */

@keyframes matched {
  0% {
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
  }

  100% {
    box-shadow: inset 0 0 14px 0px rgb(0, 0, 0);
  }
}

@keyframes anim {
  0% {
    transform: scale(1);
    color: rgb(200, 227, 215);
  }

  25% {
    transform: scale(0.95);
    color: rgb(255, 182, 193);
  }

  50% {
    transform: scale(0.9);
    color: rgb(173, 216, 230);
  }

  75% {
    transform: scale(0.95);
    color: rgb(255, 240, 245);
  }

  100% {
    transform: scale(1);
    color: rgb(255, 250, 205);
  }
}

@keyframes anim2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

/* 
███╗   ███╗███████╗██████╗ ██╗ █████╗ 
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗
██╔████╔██║█████╗  ██║  ██║██║███████║
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝

 ██████╗ ██╗   ██╗███████╗██████╗ ██╗   ██╗
██╔═══██╗██║   ██║██╔════╝██╔══██╗╚██╗ ██╔╝
██║   ██║██║   ██║█████╗  ██████╔╝ ╚████╔╝ 
██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗  ╚██╔╝
╚██████╔╝╚██████╔╝███████╗██║  ██║   ██║
 ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝   ╚═╝    */

@media screen and (min-width: 600px) {
  h1#title {
    font-size: 4rem;
  }

  input[type="text"]#user {
    font-size: 1.5rem;
    width: 350px;
    height: 40px;
  }

  button#startGame {
    font-size: 1.5rem;
  }

  .tituloInterno {
    font-size: 4rem;
  }

  main {
    min-height: 370px;
    max-height: 550px;
    min-width: 330px;
    max-width: 400px;
  }

  .container {
    margin-top: 7rem;
    margin-bottom: 2.5rem;
  }

  .front img {
    padding: 0.8rem;
  }

  #divRanking {
    min-width: 330px;
    max-width: 400px;
  }

  .btnRanking {
    font-size: 1rem;
  }

  #divRanking p {
    font-size: 1.2rem;
  }

  #divUser {
    font-size: 1rem;
  }

  #divIntentos {
    font-size: 1.2rem;
  }

  #divTextContador {
    font-size: 1.2rem;
  }

  #divFallos {
    font-size: 1.2rem;
  }

  #resetBtn {
    font-size: 1rem;
  }

  #exitBtn {
    font-size: 1rem;
  }

  p#copyright {
    font-size: 1rem;
  }

  #gracias {
    font-size: 2rem;
  }

  #h3Resultado {
    font-size: 1.5rem;
    left: 14.5%;
  }

  #btnGameAgain {
    font-size: 1rem;
  }

  #btnExitGame {
    font-size: 1rem;
  }

  #h3NotaFinal {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 800px) {
  h1#title {
    font-size: 6rem;
  }

  input[type="text"]#user {
    font-size: 2rem;
    width: 400px;
    height: 50px;
  }

  button#startGame {
    font-size: 2rem;
  }

  .tituloInterno {
    font-size: 5rem;
  }

  main {
    min-height: 420px;
    max-height: 600px;
    min-width: 380px;
    max-width: 450px;
  }

  .container {
    margin-top: 8rem;
    margin-bottom: 3.5rem;
  }

  #divRanking {
    min-width: 380px;
    max-width: 450px;
  }

  .btnRanking {
    font-size: 1.2rem;
  }

  .front img {
    padding: 1rem;
  }

  #divRanking p {
    font-size: 1.5rem;
  }

  #divUser {
    font-size: 1rem;
  }

  #divIntentos {
    font-size: 1.5rem;
  }

  #divTextContador {
    font-size: 1.5rem;
  }

  #divFallos {
    font-size: 1.5rem;
  }

  #resetBtn {
    font-size: 1.2rem;
  }

  #exitBtn {
    font-size: 1.2rem;
  }

  p#copyright {
    font-size: 1.2rem;
  }

  #gracias {
    font-size: 2rem;
  }

  #h3Resultado {
    font-size: 2rem;
  }

  #btnGameAgain {
    font-size: 1.5rem;
  }

  #btnExitGame {
    font-size: 1.5rem;
  }

  #h3NotaFinal {
    font-size: 1.6rem;
  }
}
