html {
  width: 100vw;
}


main {
  display: none;
  grid-area: main;
  max-width: 100;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/images/Firefly\ imagen\ de\ fondo\ para\ juego\ de\ emparejar\ cartas\ online\,\ las\ cartas\ contienen\ emogis\,\ composic.jpg");
  /* Añade una imagen de fondo relevante */
  background-size: cover;
  background-position: center;
}

header.centered {
  text-align: center;
  margin-bottom: 20px;
}

h1#title {
  color: #4b4e50;
  font-size: 2.5rem;

}


form.inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input[type="text"]#user {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 200px;
  outline: none;
  text-align: center;
}

button#startGame,
button[type="reset"] {
  background-color: #4caf50;
  /* Verde brillante */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;

}

button#startGame:hover,
button[type="reset"]:hover {
  background-color: #45a049;
  /* Un verde ligeramente más oscuro */
  transform: translateY(-2px);
}

#resetBtn {
  display: none;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.container {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255,
      255,
      255,
      0.8);
  /* fondo blanco semitransparente para las tarjetas */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

p#copyright {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #c5c2c2;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.hidden {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

}

.container {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* Añade un espacio entre las imágenes */
}

.container img {
  width: 100%;
  height: auto;
}

.container article {
  flex: 1 0 20%;
  /* Esto hará que los artículos ocupen al menos el 20% del ancho del contenedor */
  margin: 1rem;
  /* Esto añade un poco de espacio alrededor de cada artículo */
}