/* HEADER */
:root {
  --text-font-family: "Poetsen One", "Arial", "sans-serif";
}

#divUser {
  font-family: "Poetsen One";
  position: absolute;
  top: 20.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #eaeaec;
  box-shadow: 17px 10px 24px -1px rgba(0, 0, 0, 1);
  border-radius: 20px;
  font-size: 1rem;
  white-space: nowrap;
  color: #4b4e50;
}

#divTextContador {
  z-index: 1;
  position: absolute;
  top: 25.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border-radius: 5px;
  background-color: #eaeaec;
  box-shadow: 17px 10px 24px -1px rgba(0, 0, 0, 1);
  border-radius: 20px;
  font-size: 1rem;
  white-space: pre-wrap;
  font-family: "Poetsen One";
  font-weight: bolder;
  color: #4b4e50;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

#divContador {
  z-index: 2;
  position: absolute;
  top: 25.5%;
  left: 62%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 20px;
  font-size: 1rem;
  font-family: "Poetsen One";
  white-space: nowrap;
  color: #4b4e50;
}

header.centered {
  text-align: center;
  margin-bottom: 20px;
}

h1#title {
  color: #191919;
  font-size: 3rem;
  font-family: "Dancing Script";
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 2);

  margin-bottom: 2rem;
  margin-top: 2rem;
}

form.inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input[type="text"]#user {
  font-family: "Poetsen One";
  font-style: italic;
  font-weight: bolder;
  color: #5e5e5e;
  background-color: #eaeaec;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
  box-shadow: 17px 10px 24px -1px rgba(0, 0, 0, 1);
  height: 40px;
  width: 200px;
  outline: none;
  text-align: center;
}

button#startGame,
button[type="reset"] {
  font-family: "Poetsen One";
  font-weight: bolder;
  margin-top: 1rem;
  background-color: #5e5e5e;

  color: #eaeaec;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 17px 10px 24px -1px rgba(0, 0, 0, 1);
  transition: background-color 0.3s, transform 0.3s;
}

button#startGame:hover,
button[type="reset"]:hover {
  background-color: #45a049;
  /* Un verde ligeramente más oscuro */
  transform: translateY(-2px);
}

#resetBtn {
  display: none;
}

/* BODY */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poetsen One";
  background-color: #f4f4f9;
  color: #333;
  display: grid;
  place-items: center;
  background-image: url("/images/Firefly\ imagen\ de\ fondo\ para\ juego\ de\ emparejar\ cartas\ online,\ las\ cartas\ contienen\ emogis,\ composic.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

/* MAIN */

main {
  max-height: 720px;
  max-width: 400px;
  min-width: 320px;
  min-height: 560px;
  flex-grow: 1;
  overflow: auto;
  margin: 0.5rem;
  height: 65vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  gap: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  background: linear-gradient(rgb(206, 255, 244), rgb(96, 223, 255));
}

.container {
  margin-top: 6rem;

  height: 100%;
  width: 100%;
  border: 5px solid rgb(255, 231, 195);
  background-color: #070808a9;
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  justify-content: center;
}

.container img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

article ul {
  width: 100%;
  height: 100%;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card.flipped {
  transform: rotateY(180deg);
}
.back {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: black;
}

.front {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: black;
}

p#copyright {
  font-family: "Poetsen One";
  text-align: center;
  color: #0c0c0c;
  font-size: 0.8rem;

  margin-bottom: 0.5rem;
}
footer {
  width: 100%;
}

.hidden {
  display: none;
}
