main {
  display: none;
}

header {
  background: #333;
  color: white;
  padding: 2rem;
  text-align: center;
  position: absolute;
  width: 100%;
}
header h1 {
  gap: 3rem;
  margin: 0;
  font-size: 5rem;
}
.inputBox {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 2rem;
}
input[type="text"] {
  padding: 1rem;
  font-size: 2rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
  width: 400px;
  height: 57px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: #5c5;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
}
